<!-- <p ngNonBindable>{{ 1.1 | number: "2.3-5" }}</p>
<p>{{ 1.1 | number: "2.3-5" }}</p>

<p ngNonBindable>Persentage pipe 25*100/10 sudentnumber | percent: "2.2-5"</p>
<p>{{ sudentnumber | percent: "2.2-5" }}</p>

<p ngNonBindable>Currency pipes {{ 0.25 | currency }}</p>
<p>{{ 0.25 | currency }}</p>

<p ngNonBindable>Currency pipes {{ 0.25 | currency: USD }}</p>
<p>{{ 0.25 | currency: USD }}</p> -->

<!-- <p>Date Today |</p>
<p ngNonBindable>{{ tarik | date: "shortDate" }}</p>
<p>{{ tarik | date: "shortDate" }}</p>
<p ngNonBindable>{{ tarik | date: "longDate" }}</p>
<p>{{ tarik | date: "longDate" }}</p>

<p ngNonBindable>{{ tarik | date: "fullDate" }}</p>
<p>{{ tarik | date: "fullDate" }}</p>

<p>Birthday</p>
<p>{{ janamdin | date }}</p> -->

<!-- <p>Custom Pipe</p> -->
<!-- <P>my name is <span [outerHTML]="name | bold"></span></P> -->
<!-- <p ngNonBindable>{{ remark }}</p>
<p>{{ remark }}</p> -->
<!-- <p>{{ remark | limitword: 15 }}</p> -->

<p ngNonBindable>Reverse String</p>
<p>{{ reverStrin }}</p>
<p>{{ reverStrin | reverse }}</p>
<router-outlet></router-outlet>
